@import "./colors.css";

:root {
  --font-family: avenir-webfont, avenir, droid sans, droidsansregular, corbel, tahoma, geneva, sans-serif;
  --font-small: 0.5em;
  --font-medium: 1em;
  --font-large: 2em;
}

/* Viewport definitions: */

/* < 480px */
@custom-media --below-small-viewport (max-width: 29.9375em);

/* >= 480px */
@custom-media --above-small-viewport (min-width: 30em);

/* < 768px */
@custom-media --below-medium-viewport (max-width: 47.9375em);

/* >= 768px */
@custom-media --above-medium-viewport (min-width: 48em);

/* < 1024px */
@custom-media --below-large-viewport (max-width: 63.9375em);

/* >= 1024px */
@custom-media --above-large-viewport (min-width: 64em);
