@import "../../../styles/variables.css";

.tabs {
  border-bottom: 0.0625rem solid var(--medium-grey);
  margin-top: 1rem;
  padding-bottom: 0.3rem;
  position: relative;
}

.tab {
  border-radius: 0.1875rem;
  color: var(--blue-grey);
  font-size: var(--font-small);
}

.list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
