@import "./styles/variables";

.app {
  color: var(--color-text-default);
  height: 100%;
  margin: 0 auto;
  min-width: 30rem;
  padding: 0 1rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 100;
  margin: 1rem auto;
  text-align: center;
  width: 100%;
}
